@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" />

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Elevation="1">

        <MudText Typo="Typo.h5" Class="ml-3">Roulette</MudText>

    </MudAppBar>

    <MudMainContent Class="mt-16 pa-4">

        @Body
    
    </MudMainContent>

</MudLayout>

<div id="blazor-error-ui" data-nosnippet>

    An unhandled error has occurred.

    <a href="." class="reload">Reload</a>

    <span class="dismiss">🗙</span>

</div>

@code
{
    private MudThemeProvider
        _mudThemeProvider = new()
    ;

    private bool
        _isDarkMode = true
    ;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();

            await _mudThemeProvider.WatchSystemPreference(OnSystemPreferenceChanged);

            StateHasChanged();
        }
    }

    private Task OnSystemPreferenceChanged(bool newValue)
    {
        _isDarkMode = newValue;

        StateHasChanged();

        return Task.CompletedTask;
    }
}